:root {
    --main-color-higher-transparency: rgba(255, 255, 255, 0.603); 
    --main-color-smaller-transparency: rgba(255, 255, 255, 0.89);
    --current-weather-background: rgba(179, 202, 202, 0.411); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color-higher-transparency);
}

body {
    background: url(../img/backgrounds/purple-minimal-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.weather__main-container {
    margin: 1rem 2rem;
    display: grid;
    row-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header"
    "search search"
    "weather__results weather__results";
}

/* Header */

.weather__header-container {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.weather__header-container > h1 {
    font-weight: 100;
}

/* Search */

.weather__search--container {
    margin-top: 40%;
    grid-area: search;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    max-width: 35rem;
    padding: 0.5rem;
    border: 2px solid var(--main-color-higher-transparency);
    border-radius: 2rem 2rem;
    transition: 1s;
}

.weather__search--container:hover {
    box-shadow: 0 0 0.7rem var(--main-color-smaller-transparency);
}

.weather__search--icon,
.weather__search--input { 
    background: transparent;
    border: none;
    outline: none;
}

.weather__search--icon {
    margin: auto 0.6rem;
}

.weather__search--input {
    width: 90%;
    color: var(--main-color-smaller-transparency);
    font-size: 1.1rem;
}

.weather__search--input::placeholder {
    color: var(--main-color-higher-transparency);
}

.weather__search--autocomplete {
    border-top: solid var(--main-color-higher-transparency);
    margin-top: 0.5rem;
}

.weather__search--city-container {
    display: flex;
    gap: 0.3rem;
    margin-top: 0.3rem;
    cursor: pointer;
}

.weather__search--city-list {
    list-style-type: none;
    margin: 0.5rem auto;
}

.weather__search--city-error {
    margin-top: 0.2rem;
    padding: 0.4rem;
}

/* Weather results */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.weather__results--container {
    grid-area: weather__results;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    animation: fadeIn 1s backwards;
}

/* Current temperature */

.weather__current--temperature-container {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    margin: 1rem 0;
}

.weather__current--present-weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--current-weather-background);
    border-radius: 10px;
    width: 26%;
}

.weather__current--weather-icon {
    width: 12rem;
    height: 12rem;
    grid-row: 1 / -1;
    
}

.weather__current--temperature {
    grid-row: 1 / 2;
    font-size: 50px;
    padding-top: 1rem;
}

.weather__current--cloudiness {
    grid-row: 2 / 3;
    align-self: start;
    font-size: 28px;
}

.weather__current--cloudiness::first-letter {
    text-transform: uppercase;
}

.weather__current--temperature,
.weather__current--cloudiness,
.weather__current--header > h1,h2 {
    color: var(--main-color-smaller-transparency);
}

.weather__current--statistics {
    background-color: var(--current-weather-background);
    border-radius: 10px;
    width: 50%;
}

/* Forecast */

.weather__forecast--container {
    margin: 1.25rem 0;
}

.weather__forecast--intervals-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;
}

.weather__forecast--interval-statues {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--current-weather-background);
    border-radius: 10px;
    width: 9%;
    padding: 1rem;
}

.weather__forecast--interval-statues > p {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color-smaller-transparency);
}

.weather__forecast--icon {
    width: 2.7rem;
    height: 2.7rem;
}
